.select-style {
    border: 1px solid #ccc;
    width: 100px;
    border-radius: 10px;
    overflow: hidden;
    background: url("./icon-select.png") no-repeat 70% 50%;
    background-size: 15px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.select-style select {
    padding: 15px 15px;
    width: 100%;
    border: none;
    box-shadow: 5px 10px #888888;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}